li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--text);
}
a:hover{
    color: var(--secondary) !important;
}
button,.btn {
  padding: 10px var(--spacing-large);
  border: none;
  outline: none;
  font-size: 14px;
  /* background-color: var(--secondary); */
  background-color: transparent;
  border-radius: 2px;
  color: var(--text-white);
  border-radius: 50px;
  border: 2px solid white;

  cursor: pointer;
  transition: all 0.2s ease;
}
button:active,.btn:active {
  transform: scale(0.97);
}
button:hover,.btn:hover {
  background-color: rgba(11, 19, 43, 0.9);
  border-color:rgba(11, 19, 43, 0.9) ;
}
input {
  border-radius: 4px;
  width: 100%;
  text-shadow: rgba(0, 0, 0, 0.004) 1px 1px 1px;
  line-height: 24px;
  background-color: #f6f6f6;
  border: none;
  padding: 12px;
  flex: 1;
  font-size: 15px;
  outline: none;
}
.container {
  padding: 20px 50px;
}

.field {
  display: flex;
  align-items: center;
  padding-left: 10px;
  background-color: #f6f6f6;
  border-radius: 4px;
}
.field i {
  color: #b5b5b5;
}
/*
.login_left .login_details form .box input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 400px;
  padding: 12px;
  flex: 1;
  font-size: 15px;
} */