nav {
  background: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: rgba(17, 12, 46, 0, 0.15) 0 48px 100px 0;
  z-index: 100;
  width: 100vw;
}

.nav_items {
  display: flex;
  justify-content: space-between;
  flex: 1;
  z-index: 100;
  width: 100vw;
}
.profile a{
  display: flex;
  align-items: center;
  gap: 10px;

  
}

.profile i{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  width: 30px;
  height: 30px;
  
  border-radius: 50%;
}
.profile_links {
  display: none !important;
}

.menu_icon {
  display: none;
}
.nav_left {
  flex: 1;
}
.nav_left h1 a{
  color: var(--text-white);
}
.nav_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex: 2;
  min-width: 300px;
}
.nav_right .arrow_down{
  border: none !important;
}
.nav_right .nav_right_list {
  flex: 1;
}
.nav_right .nav_right_list ul {
  display: flex;
  justify-content: space-evenly;
}
.nav_right .nav_right_list ul li a {
  color: var(--text-white);
}
.nav_right .nav_right_list ul li a:hover {
  color: var(--secondary);
}
.nav_right_btn a {
  color: var(--text-white);
}
.nav_right_btn a:hover {
  color: var(--text-white) !important ;
}

@media (max-width: 996px) {
  .nav {
    justify-content: space-between;
    position: relative;
  }

  .nav_items {
    flex-direction: column;
    gap: 50px;
    flex: 1;
  }

  .profile_links {
    display: block !important;
    padding-left: 50px;
  }

  .profile_links li {
    padding: 5px 0;
  }

  .menu_icon {
    display: inline;
    cursor: pointer;
    color: var(--text-white);
    font-size: var(--font-size-large);
  }

  .nav_right {
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 0px;
    left: -100%;
    background-color: var(--primary);
    width: 100%;
    height: 100%;
    padding: 10px;
    transition: left 0.3s ease-in-out; /* Smooth transition */
  }
 
  .nav_right.nav_show {
    left: 0;
    animation: navshow 0.5s ease-in-out forwards;
  }

  @keyframes navshow {
    0% {
      left: -100%;
    }
    100% {
      left: 0;
    }
  }
  .nav_right .backbtn{
    border: 2px solid var(--text-white);
    color: var(--text-white);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.2s;
  }
  .nav_right .backbtn:hover{
    border: 2px solid var(--secondary);
    width: 50px;
    cursor: pointer;
    background-color: var(--secondary);
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav_right_list ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    justify-content: center;
  }
  .nav_right_list ul:first-child{
    padding-top: 78px;

  }
  .nav_right_list ul .backbtn {
    align-self: flex-end;
    position: absolute;
    bottom: 50px;
    right: 50px;
  }
  .nav_right .profile_links{
    padding-left: 0;
  }
}


