.create_space {
  display: flex;
  /* justify-content: space-evenly; */
  flex-direction: column;
  width: 100%;
  /* background-color: #f3f7f9; */
  gap: 20px;
  padding: var(--spacing-large);
}
.space_detail_text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: var(--spacing-medium);
}
.space_detail_text > div {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.space_detail_text > div textarea {
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: var(--spacing-medium);
}
.create_space > div {
  border: 1px solid #dddddd;
  border-radius: 4px;

  background-color: white;
  padding: var(--spacing-large) var(--spacing-medium);

  box-shadow: #e4e4e4 0 48px 100px 0;
}

.create_space label {
  color: #3e3e3e;
  font-size: 14px;
  font-weight: 700;
}
.create_space h2 {
  font-weight: 600;
}
.create_space .booking_detail_top {
  display: flex;
  justify-content: space-between;
}
.create_space .booking_detail_top a {
  color: var(--secondary);
  text-decoration: underline;
}
.create_space .booking_detail_top h2 {
  color: var(--primary);
  margin-bottom: 20px;
}
.create_space .select_space {
  position: relative;
}
.create_space .input_field {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #dddddd;
  padding: 0 20px;
}
.create_space .input_field input {
  border: 0;
  outline: none;
}
.create_space .search_results {
  background-color: rgb(253, 253, 253);
  position: absolute;
  box-shadow: #e4e4e4 0 48px 100px 0;
  top: 60px;
  left: 0;
  width: 100%;
}
.create_space .search_results p {
  padding: 10px;
  cursor: pointer;
}
.create_space .search_results p:hover {
  background-color: rgb(236, 233, 233);
}
.create_space .booking_detail_bottom {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.selected_space {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #dddddd;
  gap: 20px;
}
.selected_space .space_detail {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.selected_space .space_detail p {
  font-weight: 600;
}
.selected_space i {
  font-weight: 600;
  cursor: pointer;
}
.create_space .booking_detail_bottom {
  display: flex;
  justify-content: center;
}
.create_space .booking_detail_bottom > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}
.create_space .booking_detail_bottom > div input {
  padding: 10px;
  flex: 1;
}

.create_space .booking_detail_bottom .input_combo_box > div {
  flex: 1;
  min-width: none;
}

.create_space .features h2 {
  color: var(--primary);
  margin-bottom: 20px;
}
.create_space .features .input_combo_box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20;
  margin-bottom: 20px;
}

.create_space .features .input_box {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.create_space .features .input_box input {
  padding: 10px;
}

.create_space .pricing h2 {
  color: var(--primary);
  margin-bottom: 20px;
}
.create_space .pricing .input_combo_box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.create_space .pricing .input_box input {
  padding: 10px;
}



.create_space .list_space {
  border-radius: 4px;
  font-weight: 500;
  font-size: 18px;
  padding: 12px 5px;
  background-color: var(--secondary);
  border: none;
}
.reservation_detail_right {
  position: relative;
  flex: 1;
}

@media (max-width: 530px) {
  .create_space h2 {
    font-size: 20px;
  }
  .create_space label {
    font-size: 14px;
  }
  .create_space input {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .create_space {
    padding: 0;
  }
  .create_space > div {
    border: none;
    border-radius: 4px;
    background-color: white;
    padding: var(--spacing-large) var(--spacing-medium);

    box-shadow: #e4e4e4 0 48px 100px 0;
  }
  .dashboard_right {
    width: 100%;
    padding: 0;
  }
}
