/* src/FileUpload.css */
.file_upload {
    font-family: Arial, sans-serif;
    background: #f7f9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    margin: 0;
}

.upload-container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

.upload-area {
    border: 2px dashed #007BFF;
    border-radius: 5px;
    padding: 50px;
    text-align: center;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-area i {
    font-size: 50px;
    color: #007BFF;
}

.upload-area p {
    font-size: 18px;
    color: #555;
}

.upload-area input {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%;
    height: 100%; */
    /* visibility: hidden;
    opacity: 0; */
    cursor: pointer;
}

.file-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.file-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    padding: 10px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.file-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
}
.remove-btn{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #007BFF;
    width: 30px;
    height: 30px;
    border-radius: 0;
    padding: 0;
}
.file-details {
    flex: 1;
}

.file-details span {
    display: block;
}

.file-actions {
    display: flex;
    gap: 10px;
}

.file-actions button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
    color: #555;
    transition: color 0.3s ease;
}

.file-actions button:hover {
    color: #007BFF;
}

.progress-bar {
    height: 5px;
    background-color: #007BFF;
    transition: width 0.3s ease;
}

.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
    transition: opacity 0.3s ease;
}

.notification.show {
    display: block;
    opacity: 1;
}
