.listing_detail_image_box {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.listing_detail_image_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.view_space .listing_detail {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 20px;
}
.view_space .listing_left_section {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 20px;
  min-width: 400px;
  flex: 3;
}
.view_space .listing_left_section .listing_detail_title {
  font-size: 30px;
}

.view_space p.address {
  color: #999;
  display: flex;
  gap: 10px;
  align-items: center;
}
.listing_rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 0;
  border-bottom: 2px dashed #ddd;
  padding-bottom: 10px;
}
.listing_rating span.rating {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  color: #666;
}
.listing_rating span.rating i {
  color: orange;
}

.listing_detail .desc {
  margin: 10px 0 20px;
}
.view_space .review_section {
  border-top: 2px dashed #ddd;
  padding-top: 20px;
}

.review_section .review_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.review_info {
  font-size: 17px;
}
.review_rating_date {
  display: flex;
  align-items: center;
  gap: 10px;
}
.review_rating_date i {
  font-size: 14px;
  color: orange;
}

.review_rating_date .review_date {
  font-size: 14px;
  color: #666;
}
.listing_right_section {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  flex: 1;
  height: 100%;
  padding: 20px;
  min-width: 300px;
}

.listing_right_section h3 {
  font-size: 30px;
}
.features{
    margin-top: 20px;
    padding: 0;
}
.features h4{
    margin-bottom: 10px;
    font-size: 22px;

}
.features .features_items{
    display: flex;
    flex-direction: column;
}
.features .features_items span{
    background-color: #fafafa;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.pricing{
    margin-top: 20px;
}
.pricing h4{
    margin-bottom: 10px;
    font-size: 22px;
}

.pricing > div{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.pricing .pricing_items span{
    background-color: #fafafa;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}
.pricing >div span:nth-child(2){
    font-weight: 600;
    color: var(--secondary);
    font-size: 18px;
}
.location{
    width: 100%;
}
.gmap_canvas{
    width: 100%;
}
@media (max-width:450px){
    .listing_left_section{
        min-width: 280px;
    }
    .listing_right_section{
        min-width: 280px;
    }
}